<footer>
  <div class="footer-inner">
    <p><%= settings.footer_notice %></p>
    <p>【退款政策】<%= settings.refund_policy %></p>
    <p>Telegram客服：<a href="https://t.me/<%= settings.contact_telegram.replace('@','') %>" target="_blank"><%= settings.contact_telegram %></a>（工作时间 <%= settings.contact_hours %>）</p>
    <p><%= settings.copyright %> - <%= settings.site_slogan %></p>
  </div>
</footer>
